/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
.right{
    float:right;
}
.left{
    float:left;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

.container{
    width: 80%;
    margin: auto;
    height: 100%;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}

.btn{
    background-color: white;
    color: black;
    padding: 10px 30px;
    margin: 0px 15px;
    border-radius: 25px;
    font-size: 15px;
}
.btn:hover{
    text-decoration: none;
}

.bk-gr{
    background-color: lightgray;
}






/* *** HEADER *** */

header{
    height: 100px;
    font-size: 15px;
}


/* *** JUMBOTRON *** */

#jumbotron{
    height: 400px;
}

/* *** MAIN *** */

/* *** FOOTER *** */

footer{
    height: 500px;
}





/* *** DEBUG *** */
/* *** DEBUG HEADER *** */

.debug header{
    background-color: #255ee9;
    line-height: 100px;
}

.debug header .container{
    text-align: center;
}

.debug header .container div,
.debug header .container nav{
    height: 100px;
    float: left;   
}
.debug header .container div{
    width: 20%;
}
.debug header .container nav{
    width: 60%;
}

.debug header .container nav li{
    display: inline-block;
}

.debug header .container nav a{
    padding: 0 15px;   
}

.debug header .container #logo img{
    height: 36px;
    vertical-align: middle;
}



/* *** DEBUG JUMBOTRON*** */

.debug #jumbotron{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position:center;
}

.debug #jumbotron .container{
    text-align: center;
    position: relative;
}

.debug #jumbotron .container #title-descriptions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -60%);
    color: white;
    width: 600px;
}

.debug #title-descriptions h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.debug #title-descriptions p{
    line-height: 25px;
    margin-bottom: 30px;
}

.debug #title-descriptions a:last-child{
    background-color: black;
    color: white;
}

.debug #title-descriptions i{
    padding-right: 10px;
}




/* *** DEBUG MAIN*** */

.debug main .container{
    background-color: white;
}


.debug main .container .main-section{
    width: 100%;
    padding: 100px 90px;
}

.debug main .container .main-section img{
    height: 360px;
}

.debug main .container .text-description{
    width: 300px;
}

.debug main .container .text-description h2{
    font-size: 40px;
    line-height: 45px;
    margin: 25px 0;
}
.debug main .container .text-description p{
    font-size: 17px;
    line-height: 25px;
}


.debug main .container .bottom{
    text-align: center;
    position: relative;
}
.debug main .container .bottom .text-description{
    width: 100%;
    
}
.debug main .container .bottom .text-description p{
    width: 80%;
    margin: auto;
}
.debug main .container .bottom #img-bot{
    height: 550px;
}

.debug main .container .bottom h3{
    margin-bottom: 40px;
    font-size: 20px;
}

.debug main .container .bottom a{
    background-color: #648ae8;
    color: white;
}
.debug main .container .bottom i{
    padding-right: 10px;
}

#stars{
    height: 42px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* *** DEBUG FOOTER*** */

.debug footer{
    background-color: black;
}